.login {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-inputtext {
    width: 250px;
}

.p-button-success {
    width: 150px;
}