.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4dde4;
  padding: 50px;
  border-radius: 10px;
  height: 350px;
}

.p-inputgroup {
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button > button {
    margin-right: 20px;
    margin-left: 20px;
}
